# This is a basic workflow that is manually triggered

name: Install Chromium Browser

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-chromium"
  build-chromium:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Send greeting
      run: echo "Hello ${{ github.event.inputs.name }}"
    - name: Install Chromium
      run: pwd
      # run: sudo apt-get install chromium-browser
    - name: Check version of Chromium
      run: chromium --product-version
